@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
  --cl-txt-main-text: rgba(51, 51, 51, 1);
  --cl-txt-contrast-text: rgba(255, 255, 255, 1);
  --cl-bg-common: rgba(255, 246, 217, 1);
  --cl-bg-accent: rgba(255, 238, 173, 1);
  --cl-bg-common-contrast: rgba(255, 255, 255, 1);
  --cl-bg-copywrite: rgba(255, 246, 217, 1);
  --cl-bg-button: rgba(255, 115, 43, 1);
  --cl-bg-button-active: rgba(243, 87, 20, 1);
  --cl-bg-new-sticker: rgba(255, 179, 52, 1);
  --cl-shd-button-hover: rgba(0, 0, 0, 0.14);
  --cl-shd-common: rgba(0, 0, 0, 0.04);
}

html {
  width: 100%;
  height: 100%;
}

body,
html {
  margin: 0;
}

body {
  margin: 0;
  min-width: 1280px;
  height: 100%;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
  background: rgba(255, 246, 217, 1);
}

.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  width: 1140px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  box-sizing: border-box;
}
