.stars-list {
  background: var(--cl-bg-accent);
  background-image: url("../../../assets/stars/bg/paw.svg"),
  url("../../../assets/stars/bg/shape.svg"),
  url("../../../assets/stars/bg/leaves.svg");
  background-position: 0 5%, 0 100%, 100% 100%;
  background-repeat: no-repeat;
}

.stars-list__container {
  min-height: 914px;
  padding-top: 100px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
}

.stars-list__title {
  margin-bottom: 64px;
  text-align: center;
}

.stars-list__list {
  margin: 0 0 24px;
  padding: 0;
  flex: 1 1 auto;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.stars-list__item {
  margin-right: 20px;
  margin-bottom: 20px;
}

.stars-list__item:nth-child(3n) {
  margin-right: 0;
}


.stars-list__button {
  margin: 0 auto;
}